.home {
  min-height: 100vh;
  background: var(--bg-secondary);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.home_middle {
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1175px) {
  .home_middle {
    margin-left: 5%;
  }
}

@media (max-width: 1030px) {
  .home_middle {
    position: relative;
    margin-left: 55px;
  }
}

@media (max-width: 960px) {
  .home_middle {
    margin-left: 10%;
  }
}
@media (max-width: 885px) {
  .home_middle {
    margin-left: 9%;
  }
}

@media (max-width: 620px) {
  .left_home {
    display: none;
  }
  .home_middle {
    position: absolute;
    margin-left: 0;
  }
}
