.profile {
  color: var(--color-primary);
}
.profile_top {
  margin-top: 56px;
  box-shadow: 0 1px 2px var(--shadow-1);
  background: var(--bg-primary);
}
.profile_container {
  max-width: 945px;
  margin: 0 auto;
}
.profile_cover {
  position: relative;
  height: 350px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--bg-secondary);
}
.cover {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
}
.update_cover_wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.open_cover_update {
  background: #fff;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border-radius: 10px;
  cursor: pointer;
}
.open_cover_update i {
  transform: scale(0.9);
  margin-top: 4px;
}
.open_cover_menu {
  background: var(--bg-primary);
  position: absolute;
  right: 0;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 2px var(--shadow-inset);
  z-index: 999999999999999999999999;
  margin-top: 0.5rem;
}
.open_cover_menu_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
}
.profile_img_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: -2.8rem;
}
.profile_w_left {
  display: flex;
  padding: 1rem 13px 0 13px;
}
.profile_w_img {
  position: relative;
  z-index: 9999;
}
.profile_w_bg {
  width: 180px;
  height: 180px;
  transform: translateY(-3.6rem);
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background: #fff;
  cursor: pointer;
}
.profile_w_bg:hover {
  filter: brightness(95%);
}
.profile_circle {
  position: absolute;
  bottom: 4.5rem;
  right: 0.55rem;
  background: var(--bg-third);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.profile_name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 32px;
}
.profile_w_right {
  display: flex;
  gap: 8px;
  padding: 0 18px;
  margin-bottom: 7px;
}
.invert {
  filter: invert(100%);
}
/*--Menu-------*/
.profile_menu_wrap {
  position: relative;
  padding: 0 2.2rem;
}
.profile_menu {
  position: relative;
  border-top: 1px solid var(--border-color);
  display: flex;
  padding: 0;
}
.profile_menu a {
  height: 54px;
  width: 78.5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 3px 0;
  color: var(--color-secondary);
}
.profile_menu_active {
  height: 60px !important;
  width: 65px !important;
  margin: 0 !important;
  color: var(--blue-color) !important;
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0 !important;
}
.p10_dots {
  background: var(--bg-third);
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  padding: 8px 14px;
}
.p10_dots svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
}
/*------ppl u may know------*/
.profile_bottom {
  margin-top: 1px;
  background: var(--bg-secondary);
}
.bottom_container {
  padding: 10px 2.2rem;
}
.pplumayknow_list {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 240px;
}
.pplumayknow {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid var(--blue-color);
  padding: 10px 15px;
}
.pplumayknow_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
}
.addfriendCard {
  position: relative;
  height: 100%;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--bg-primary);
}
.addfriend_imgsmall {
  width: 100%;
  height: 140px;
}
.addfriend_imgsmall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.addfriend_infos {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.addfriend_name {
  font-size: 16px;
  font-weight: 600;
}
.light_blue img {
  width: 20px;
}
.light_blue {
  color: var(--blue-color);
}
.profile_grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 10px;
}
/*------ppl u may know------*/
.left_header_grid {
  font-size: 22px;
  font-weight: 600;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  font-size: 14px;
}
.grid2 .active {
  color: var(--blue-color);
}
.view_type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  color: var(--color-secondary);
}
.createPost {
  background: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  margin: 1.1rem 0;
  width: 100%;
  cursor: pointer;
}
.createPost_header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 17px 5px 15px;
}
.createPost_body {
  padding: 0 10px 8px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.create_splitter {
  height: 1px;
  width: 95%;
  background: var(--bg-third);
  margin: 7px 10px;
}

.othername {
  color: var(--color-secondary);
  font-size: 20px;
}

.no_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  margin: 1rem 0;
  color: var(--color-secondary);
}
/*-----profile card--------*/
.profile_card {
  background: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 10px 15px;
  margin-top: 15px;
}
.profile_card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}
.profile_header_link {
  font-weight: normal;
  font-size: 16px;
  color: var(--blue-color);
  cursor: pointer;
  padding: 5px 10px;
}
.profile_header_link:hover {
  background: var(--bg-secondary);
}
.profile_card_count {
  color: var(--color-secondary);
}
.profile_card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.profile_photo_card {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile_photo_card img {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-radius: 10px;
}
.box_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 15px 17px 15px;
  border-bottom: 1px solid var(--bg-third);
}
.postBox {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 650px;
  /* height: 600px !important; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  min-height: 228px;
  width: 500px;
  border-radius: 5px;
}
/*-----profile card--------*/

.postError {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--bg-primary);
  opacity: 0.9;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color: #b94a48;
  animation: anim 0.3s;
  border-radius: 5px;
  padding: 3rem;
}
.postError_error {
  width: 75%;
  font-weight: 600;
}
.comment_error {
  padding: 0 !important;
  opacity: 1 !important;
}
.pictureBox {
  width: 700px !important;
  height: 62vh;
}
.update_picture_wrap {
  padding: 10px 15px;
}
.update_picture_buttons {
  display: flex;
  gap: 10px;
}
.update_picture_buttons button {
  width: 100%;
}
.update_picture_buttons .light_blue_btn {
  color: var(--blue-color);
}
.update_img {
  width: 700px !important;
  height: 800px;
}
.update_image_desc {
  padding: 15px;
}
.textarea_blue {
  width: 100%;
  height: 85px;
  resize: none;
  border-radius: 7px;
  outline-offset: 5px;
  border-color: var(--bg-third);
  padding: 1.1rem;
  font-size: 16px;
  font-family: inherit;
  background: var(--bg-primary);
  color: var(--color-primary);
}
.textarea_blue:focus {
  outline-color: var(--blue-color);
}
.textarea_blue:hover {
  border-color: var(--color-secondary);
}

.update_center {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cropper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
}
.cropper img {
  width: 100%;
  object-fit: contain;
}
.update_img .reactEasyCrop_CropAreaGrid {
  width: 300px !important;
  height: 300px !important;
  color: rgba(255, 255, 255, 0.5);
}
.slider {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.slider input[type="range"] {
  -webkit-appearance: none;
  width: 55%;
  height: 4px;
  background: #ced0d4;
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 2px var(--shadow-1), 0 2px 2px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  border: 1px solid var(--bg-third);
}
.slider_circle {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.flex_up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2rem;
}
.flex_p_t {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: var(--color-secondary);
  font-size: 17px;
  border-bottom: 1px solid var(--bg-third);
}
.update_submit_wrap {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.red_link {
  color: red;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.update_submit_wrap button {
  width: 110px !important;
}

.selectCoverBox {
  width: 570px !important;
  max-width: 80vw;
}
.selectCoverBox_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 15px;
}
.selectCoverBox_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 0 10px 0;
  cursor: pointer;
}
.selectCoverBox_link:first-of-type {
  color: var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
}

.old_pictures_wrap {
  padding: 15px;
  overflow-y: auto;
  /* height: 450px; */
  width: 100%;
}

.old_pictures_wrap h3 {
  padding: 10px 0;
}

.old_pictures {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 0;
  gap: 10px;
  width: 100%;
}
.old_pictures img {
  width: 85px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
}
.old_pictures img:hover {
  filter: brightness(110%);
}
.old_pictures:first-of-type {
  border-bottom: 1px solid var(--bg-third);
}

.old_pictures_cover {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 10px;
  width: 100%;
}
.old_pictures_cover img {
  width: 95px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}
.old_pictures_cover img:hover {
  filter: brightness(110%);
}
.old_pictures_cover:first-of-type {
  border-bottom: 1px solid var(--bg-third);
}

.cover_cropper {
  height: 100%;
}
.cover_cropper img {
  width: 100%;
  object-fit: cover;
}
.cover_cropper .reactEasyCrop_CropAreaGrid {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.save_changes_cover {
  z-index: 999999999;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-primary);
}
.save_changes_left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.save_changes_left i {
  filter: invert(100%);
}
.save_changes_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.save_changes_right button {
  padding: 10px;
}
.save_changes_right button:first-of-type {
  width: 100px;
  background: #39393f;
}
.save_changes_right button:last-of-type {
  width: 160px;
}

.info_profile {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  text-decoration: none !important;
  color: var(--color-primary);
}
.info_profile:hover {
  text-decoration: none !important;
}
.info_profile img {
  filter: invert(40%);
}
.info_profile span:hover {
  text-decoration: none !important;
}
.info_text {
  word-break: break-word;
}
.info_col {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info_col button {
  width: 100%;
}
.w100 {
  width: 100%;
  margin: 10px 0;
}
.w100:hover {
  background: #e0e9ff;
}
.add_bio_wrap {
  display: flex;
  flex-direction: column;
}
.details_input {
  margin-top: 10px;
  background: var(--bg-secondary) !important;
}
.details_input:focus {
  outline-color: var(--blue-color) !important;
  outline-offset: 1px !important;
}
.remaining {
  font-size: 12px;
  color: var(--color-secondary);
  align-self: flex-end;
  margin-top: 2px;
}
.add_bio_wrap .flex {
  margin-top: 5px;
  justify-content: space-between;
}
.flex_left {
  font-size: 14px;
  color: var(--color-secondary);
}
.flex_left i {
  filter: invert(40%);
}
.infosBox {
  height: 82vh;
  width: 800px !important;
}
.details_wrapper {
  padding: 1rem;
}
.details_col {
  display: flex;
  flex-direction: column;
}
.details_col span:first-of-type {
  color: var(--color-primary);
  font-weight: 600;
}
.details_col span:last-of-type {
  color: var(--color-secondary);
  font-size: 14px;
}
.details_header {
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
}
.add_details_flex {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
  color: var(--blue-color);
  font-size: 14px;
  cursor: pointer;
}

.add_details_flex .icon_edit {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  transform: scale(1.1);
}
.select_rel {
  border: none;
  outline: none;
  height: 30px;
  background: var(--bg-secondary);
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.relation {
  z-index: 9;
  display: flex;
  gap: 10px;
}

.relation .blue_btn {
  height: 34px;
}

.profile_photo_card span {
  color: var(--color-primary);
  font-size: 14px;
}

.profile_photo_card:hover {
  filter: brightness(110%);
}

@media (min-width: 900px) {
  .relation {
    transform: translateX(-2rem);
  }
}

@media (max-width: 900px) {
  .profile_w_left {
    flex-direction: column;
    align-items: center;
  }
  .profile_w_col {
    transform: translateY(-3.6rem);
  }
  .profile_w_right {
    transform: translateY(-3.6rem);
  }
  .profile_img_wrap {
    flex-direction: column;
    justify-content: center;
  }
  .profile_circle {
    right: 1rem;
  }
  .profile_name {
    padding-bottom: 10px;
    flex-direction: column;
  }
  .pplumayknow {
    display: none;
  }
  .profile_grid {
    grid-template-columns: 1fr;
  }
  .profile_grid .createPost {
    width: 100% !important;
  }
  .bottom_container {
    padding: 5px;
  }
  .relation {
    transform: translateY(-4rem);
  }
  .othername {
    transform: translateY(-10px);
  }
}

@media (max-width: 810px) {
  .infosBox {
    width: 96% !important;
  }
}

@media (max-width: 720px) {
  .postBox.pictureBox {
    width: 98% !important;
  }
}

@media (max-width: 589px) {
  .postBox .old_pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .postBox .old_pictures img {
    width: 100%;
    height: 110px;
  }
}
@media (max-width: 430px) {
  .postBox .old_pictures {
    grid-template-columns: repeat(3, 1fr);
  }
  .box_header span {
    transform: translateX(-2rem);
  }
}
@media (max-width: 430px) {
  .postBox .old_pictures {
    grid-template-columns: repeat(3, 1fr);
  }
  .box_header span {
    transform: translateX(-2rem);
  }
}

@media (max-width: 650px) {
  .profile_menu_wrap {
    display: none;
  }
}

@media (max-width: 510px) {
  .update_cover_wrapper {
    bottom: 3rem !important;
  }
}

@media (max-width: 400px) {
  .relation {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .createPost {
    margin: 1rem auto;
    margin-top: 1rem;
    width: 98%;
  }
}
